// basic information about the workflow
manifest {
  name = 'gnn-suite-nf'
  description = 'Workflow to test various GNN architectures on cancer data.'
  version = '0.0.1'
  homePage = 'https://github.com/stracquadaniolab/gnn-bench-nf.git'
  author = 'Giovanni Stracquadanio'
  nextflowVersion = '>=20.07.1'
}

// TODO: do replicates = 10 as a final experiment
// your workflow parameters

params {
  // experimental parameters
  models = ['gcn', 'gat']
  epochs = [2,4]
  learning_rate = 0.01
  weight_decay = 1e-4
  train_size = 0.8
  replicates = 2
  verbose_interval = 10
  dropout = 0.2
  alpha = 0.1
  theta = 0

  // quantile threshold for computing metrics
  eval_threshold = 0.8

  // generate plots for each metric
  metrics = ['loss', 'rec']
}

// include basic process configuration options
includeConfig 'conf/base.config' 



// specify the container to be used

// TODO: build a container with the right dependencies with a new name

// process.container = "gnn-bench-nf"
process.container = "cancer-gnn-nf"


// try trace overwrite
trace.overwrite = true