params {
  resultsDir = "${baseDir}/results/"
  networkFile = "${baseDir}/data/asd_graph_knn_10_network.tsv"
  geneFile = "${baseDir}/data/asd_graph_knn_10_features.csv"
  epochs = [200]
  models = ["gcn2", "gcn", "gat", "gat3h", "hgcn", "sage", "gin", "gtn"]
  replicates = 10
  verbose_interval = 1
  dropout = 0.2
  alpha = 0.1
  theta = 1
  dataSet = "asd_graph_knn_10"
}

