// define resources available for SGE
executor {
	name = 'sge'
	queueSize = 50
}
	
process {
	executor='sge'
  	queue='all.q'
	penv='smp'

	// Specify the bash SGE should use.
	// This should be configured on the cluster, but often it is not.
	// By doing this, you avoid the pipeline hanging due to bad interpreter error.
	clusterOptions="-S /bin/bash"

	cpus = 1
	memory = 3.GB
}