// profile to test the string workflow
params {
  resultsDir = "${baseDir}/results/"
  networkFile = "${baseDir}/data/entrez_stringhc.tsv"
  geneFile = "${baseDir}/data/entrez_fpancanall_nstringhc_lbailey.csv"
  epochs = [100]
  models = ["gcn",]
  replicates = 3
  verbose_interval = 1
  dropout = 0.2
  alpha = 0.1
  theta = 1
  dataSet = "string"
}

