// profile to test the workflow
params {
  resultsDir = "${baseDir}/results/"
  networkFile = "${baseDir}/testdata/network.tsv"
  geneFile = "${baseDir}/testdata/genes.csv"
  epochs = [20]
  models = ['gcn2']
  verbose = 1
  batch_size = 1
  neg_sampling_ratio = 0.5
  num_neighbors = 5
  num_workers = 5
  walk_length = 10
  num_steps = 5
  sample_coverage = 10
  save_dir = "${baseDir}/data/"
  num_parts = 10
}


