name: "build"
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Pull pre-built Docker image
        run: docker pull ghcr.io/${{ github.repository }}:latest

      - name: Install Nextflow
        uses: stracquadaniolab/gh-action-setup-nextflow@v0.2.0

      - name: List files in the working directory
        run: ls -alh /home/runner/work/gnn-suite/gnn-suite

      - name: Find Nextflow binary location
        run: find /home/runner/work/gnn-suite/gnn-suite -name "nextflow" -exec mv {} /usr/local/bin/nextflow \;

      - name: Cache Nextflow dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.HOME }}/.nextflow
          key: ${{ runner.os }}-nextflow-${{ hashFiles('nextflow.config') }}
          restore-keys: |
            ${{ runner.os }}-nextflow-

            
      - name: List available Docker images
        run: |
            docker images

      - name: Testing Nextflow pipeline with test profile
        run: |
          chmod +x bin/*
          nextflow run . -profile test,ci,docker  

      # Uncomment this section only if you need to push a new image
      # - name: Push image to GitHub Container Registry
      #   if: startsWith(github.event.ref, 'refs/tags')
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     file: containers/Dockerfile
      #     platforms: linux/amd64
      #     push: true
      #     tags: |
      #       ghcr.io/${{ github.repository }}:v0.2.21, ghcr.io/${{ github.repository }}:latest
